{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}
{% block headerinclude %}
	<link href="{% static 'css/tempusdominus-bootstrap-4.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
	<link href="{% static 'css/dashboard-facility.css' %}" rel="stylesheet">   

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">  

{% endblock headerinclude %}

{% block footerinclude %}

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/custom.js"></script>

   <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
   <script src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>
   <!-- <script src="{% static 'js/datatable-jquery.js' %}"></script>
   <script src="{% static 'js/datatable-bootstrap.js' %}"></script> -->
   <script src="{% static 'js/jquery.canvasjs.min.js' %}"></script>
   <script src="{% static 'booking/js/facility.js' %}"></script>

   <script>
		$(document).ready(function() {
    		$('#helloworld').DataTable();
		} );
	</script>

   <script>
	jQuery(document).ready(function() {
		jQuery('#example').DataTable({});
  		get_vensat();
			   } );
	</script>

	<script type="text/javascript">
		var acurrent = 1;
		function getToday(){
			var today = new Date();
			var dd = today.getDate();

			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();
			if(dd<10)
			{
			    dd='0'+dd;
			}

			if(mm<10)
			{
			    mm='0'+mm;
			}

			return mm+'/'+dd+'/'+yyyy;
		}
		function reloadDashboardData(){
			// call all ajax..
			$("#headcountto").trigger("blur");
			//$.get('ajax/availability',{'current':acurrent,'availablefrom':$('#availablefrom').val(),'availableto':$('#availableto').val()},function(data){
			//	$("#availability").html(data);
			//});
		}
	    $(function () {

	    	$(".nav-link").click(function(){
	    		$(".nav-link").removeClass("show active");
	    		l = $(this);
	    		$.get("ajax/bookings",{},function(data){
	    			$("#nav-tabContent").html(data);
	    			$("#"+l.attr("aria-controls")).addClass("show active");
	    		})
	    	});
	    	$.get('ajax/utilization',{'data':'maoni'},function(data){
				$("#chartContainer").html(data);
			});
	        $('#availablefrom').datetimepicker({defaultDate:getToday()});
	        $('#availableto').datetimepicker({
	            useCurrent: false,defaultDate: getToday()
	        });
	        $("#availablefrom").on("change.datetimepicker", function (e) {
	            $('#availableto').datetimepicker('minDate', e.date);
	        });
	        $("#availableto").on("change.datetimepicker", function (e) {
	            $('#availablefrom').datetimepicker('maxDate', e.date);
	        });
			$("#availableto").blur(function(){
				acurrent = 0;
	        	if($('#availablefrom').val()!=""){
					$.get('ajax/availability',{'current':acurrent,'availablefrom':$('#availablefrom').val(),'availableto':$('#availableto').val()},function(data){
						$("#availability").html(data);
					});
				}
			});
			$("#availablefrom").blur(function(){
				acurrent = 0;
				if($('#availableto').val()!=""){
					$.get('ajax/availability',{'current':acurrent,'availablefrom':$('#availablefrom').val(),'availableto':$('#availableto').val()},function(data){
						$("#availability").html(data);
					});
				}
			});
			$('#headcountfrom').datetimepicker({defaultDate: getToday()});
	        $('#headcountto').datetimepicker({
	            useCurrent: false,defaultDate: getToday()
	        });
	        $("#headcountfrom").on("change.datetimepicker", function (e) {
	            $('#headcountto').datetimepicker('minDate', e.date);
	        });
	        $("#headcountto").on("change.datetimepicker", function (e) {
	            $('#headcountfrom').datetimepicker('maxDate', e.date);
	        });
	        $("#headcountto").blur(function(){
	        	if($('#headcountfrom').val()!=""){
					$.get('ajax/headcount',{'headcountfrom':$('#headcountfrom').val(),'headcountto':$('#headcountto').val()},function(data){
						$("#headcount").html(data);
					});
				}
			});
			$("#headcountfrom").blur(function(){
				if($('#headcountto').val()!=""){
					$.get('ajax/headcount',{'headcountfrom':$('#headcountfrom').val(),'headcountto':$('#headcountto').val()},function(data){
						$("#headcount").html(data);
					});
				}
			});

			$('#customersatfrom').datetimepicker({format: 'L',defaultDate:getToday()});
	        $('#customersatto').datetimepicker({format: 'L',
	            useCurrent: false,defaultDate:getToday()
	        });
	        $("#customersatfrom").on("change.datetimepicker", function (e) {
	            $('#customersatto').datetimepicker('minDate', e.date);
	        });
	        $("#customersatto").on("change.datetimepicker", function (e) {
	            $('#customersatfrom').datetimepicker('maxDate', e.date);
	        });

	        $("#customersatto").blur(function(){
					if($('#customersatfrom').val()!=""){
						$.get('ajax/custsatis',{'customersatfrom':$('#customersatfrom').val(),'customersatto':$('#customersatto').val()},function(data){
							$("#custsatis").html(data);
						});
					}
				});
			$("#customersatfrom").blur(function(){
				if($('#customersatto').val()!=""){
					$.get('ajax/custsatis',{'customersatfrom':$('#customersatfrom').val(),'customersatto':$('#customersatto').val()},function(data){
						$("#custsatis").html(data);
					});
				}
			});

			$('#utilizationfrom').datetimepicker({format: 'L',defaultDate:getToday()});
	        $('#utilizationto').datetimepicker({format: 'L',
	            useCurrent: false,defaultDate:getToday()
	        });
	        $("#utilizationfrom").on("change.datetimepicker", function (e) {
	            $('#utilizationto').datetimepicker('minDate', e.date);
	        });
	        $("#customersatto").on("change.datetimepicker", function (e) {
	            $('#utilizationto').datetimepicker('maxDate', e.date);
	        });
	        $("#cb_all").click(function(){
	        	if(this.checked)
	        		$('.space_option').prop("checked", true);
	        	else
	        		$('.space_option').prop("checked", false);

	        });
	        $(".space_option").click(function(){
					if(this.checked==false)
						$('#cb_all').prop("checked", false);
					x = false;
					data = "";
					$(".space_option").each(function(){
						if(this.checked==true){
							x = true;
							data += $(this).val()+",";
						}
					});
					if(x==true){
						$.get('ajax/utilization',{'spaces':data, 'utilfrom':$('#utilizationfrom').val(),'utilto':$('#utilizationto').val(),'interval':(($("#hour").prop("checked"))?"h":(($("#day").prop("checked"))?'d':'m')),'type':(($("#hours").prop("checked"))?'h':(($("#percentage").prop("checked"))?'p':'r'))},function(data){
							$("#chartContainer").html(data);
					});}

	        });

	        $(".rbs").click(function(){
			data = [];
			$(".space_option").each(function(){
				if(this.checked==true){
					x = true;
					data += $(this).val()+",";
				}
			});
	        	$.get('ajax/utilization',{'spaces':data, 'utilfrom':$('#utilizationfrom').val(),'utilto':$('#utilizationto').val(),'interval':(($("#hour").prop("checked"))?"h":(($("#day").prop("checked"))?'d':'m')),'type':(($("#hours").prop("checked"))?'h':(($("#percentage").prop("checked"))?'p':'r'))},function(data){
					$("#chartContainer").html(data);
				});
	        })
	        $.get("ajax/bookings",{'current':acurrent},function(data){
				$("#nav-tabContent").html(data);
				$(".tab-pane:first-child").addClass("show active");
			})
	    	//setInterval("reloadDashboardData()",5000);
	    });
	</script>

{% endblock footerinclude %}


{% block content %}

<div>
	<h2 class="df">DASHBOARD - FACILITY</h2>

	<!--Available Now, Headcount, Customer Satisfaction-->
	<div class="row">
		<div class="col-md-4">
				<div class="card mt-2 text-center h-100">
				  <h5 class="card-header">AVAILABLE NOW</h5>
						  <div class="card-body">
							  	<!--from-->
							    <div class="form-group">
					                <div class="input-group date" id="" data-target-input="nearest">
					                	<span class="py-1 pr-2">From :</span>
					                    <input type="datetime-local" class="form-control datetimepicker-input" id="availablefrom" data-target="#"/>
					                </div>
					            </div>
								<!--to-->
					            <div class="form-group">
					                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
					                	<span class="py-1 pr-4">To :&nbsp; </span>
					                    <input type="datetime-local" class="form-control datetimepicker-input" id="availableto" data-target="#"/>
					                </div>
					            </div>

					            <div class='row'>
									{% for key,val in spaces.items %}
									 <div class='cccj col-md-6'>
										{{ key }}<br>
											<span class="val">{{ val }}</span>
									 </div>
										{% if forloop.counter|divisibleby:2 %}
										{% endif %}
									{% endfor %}
								</div>

						  </div>
				</div>
		</div>

		<div class="col-md-4">
				<div class="card mt-2 text-center h-100">
				  	<h5 class="card-header">HEADCOUNT</h5>
					  <div class="card-body">
					    		<!--from-->
							    <div class="form-group">
					                <div class="input-group date" id="" data-target-input="nearest">
					                	<span class="py-1 pr-2">From :</span>
					                    <input type="datetime-local" class="form-control datetimepicker-input" id="headcountfrom" data-target="#"/>
					                </div>
					            </div>
								<!--to-->
					            <div class="form-group">
					                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
					                	<span class="py-1 pr-4">To :&nbsp; </span>
					                    <input type="datetime-local" class="form-control datetimepicker-input" id="headcountto" data-target="#"/>
					                </div>
					            </div>

					            <div class='row'>
									<!--Expected-->
									<div class='col-md-12'>
										<h5 class="card-title">Expected</h5>
				   					    <p class="card-text act">{{ expected }} </p>
									</div>
									<!--Actual-->
									<div class='col-md-12'>
										<h5 class="card-title">Actual</h5>
				   					    <p class="card-text act">{{ actual }} </p>
									</div>
								</div>
								<!--Read more-->
								<div class='row'>
									<div class='col-md-12'>
										<a href="/{{app}}headcount" class="btn readMore">READ MORE</a>
									</div>
								</div>
					  </div>
				</div>
		</div>

		<div class="col-md-4">
				<div class="card mt-2 text-center h-100">
				  <h5 class="card-header">CUSTOMER SATISFACTION</h5>
					  <div class="card-body">
					   			    <!--from-->
								    <div class="form-group">
						                <div class="input-group date" id="" data-target-input="nearest">
						                	<span class="py-1 pr-2">From :</span>
						                    <input type="datetime-local" class="form-control datetimepicker-input" id="customersatfrom" data-target="#"/>
						                </div>
						            </div>
									<!--to-->
						            <div class="form-group">
						                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
						                	<span class="py-1 pr-4">To :&nbsp; </span>
						                    <input type="datetime-local" class="form-control datetimepicker-input" id="customersatto" data-target="#"/>
						                </div>
						            </div>

						            <div class='row'>
										<!--none-->
										<div class='col-md-12'>
											<h5 class="act card-title" id="custsatis">{{ satisfaction }}</h5>
					   					    <a href="#" onclick="more_details(true)" class="btn readMore">READ MORE</a>
										</div>
										<div class="over col-md-12">OVERSTAYING</div>
										<!--overstaying-->
										<div class='col-md-12'>
					   					    <p class="card-text act">{{ overstaying }}
					   					    	<span>hrs</span>
					   					    </p>
										</div>
									</div>
									<!--Read more-->
									<div class='row'>
										<div class='col-md-12'>
											<a href="#" class="btn readMore">READ MORE</a>
										</div>
									</div>
					  </div>
				</div>
		</div>
	</div>

	<!--Utilization-->
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				  <h5 class="util card-header">UTILIZATION</h5>
					  <div class="card-body">
					  	<div class="row">
					  		<div class="col-md-4">
					  			<!--from-->
								    <div class="form-group">
						                <div class="input-group date" id="" data-target-input="nearest">
						                	<span class="py-1 pr-2">From :</span>
						                    <input type="datetime-local" class="form-control datetimepicker-input" id="utilizationfrom" data-target="#"/>
						                </div>
						            </div>
									<!--to-->
						            <div class="form-group">
						                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
						                	<span class="py-1 pr-4">To :&nbsp; </span>
						                    <input type="datetime-local" class="form-control datetimepicker-input" id="utilizationto" data-target="#"/>
						                </div>
						            </div>
					  		</div>
					  		<div class="col-md-4">

					  			<div class="row">
					  				<div class="col-md-4">
					  					<div class="form-check">
										  <label class="form-check-label">
										    <input type="radio" id="hours" class="form-check-input" checked name="datashow" value="hours">Hours
										  </label>
										</div>

										<div class="form-check mt-2">
										  <label class="form-check-label">
										    <input type="radio" id="percentage" class="form-check-input" checked name="datashow" value="percentage">Percentage
										  </label>
										</div>
									</div>

					  				<div class="col-md-4">
					  					<div class="form-check">
										  <label class="form-check-label">
										    <input type="radio" id="month" class="form-check-input" checked name="datashow" value="month">Months
										  </label>
										</div>

										<div class="form-check mt-2">
										  <label class="form-check-label">
										    <input type="radio" id="day" class="form-check-input" checked name="datashow" value="day">Days
										  </label>
										</div>
					  				</div>

					  				<div class="col-md-4">
					  					<div class="form-check">
										  <label class="form-check-label">
										    <input type="radio" id="revenue" class="form-check-input" checked name="datashow" value="revenue">Revenue
										  </label>
										</div>

					  				</div>
					  				
					  			</div>

					  		</div>

					  		<div class="col-md-4 pl-5">
								<input type='checkbox' class='form-check-input' id='cb_all' name='cb_all' value='{{ key }}'> All <br>
									
								 {% for key,val in spaces.items %}
									<input type='checkbox' class='form-check-input' value='{{ key }}' name='{{ key }}'> {{ key }} <br>
								{% endfor %}
					  		</div>

					  	</div>

					  	<div class="row">
					  		<div class="col-md-12">
					  			<div id="chartContainer"></div>
					  		</div>
					  	</div>
								    
					  </div>
				</div>
		</div>
	</div>

	<!--Table-->
	<div class="row">
		<div class="col-md-12">
			<div class="card">
					  <div class="card-body">
					  	<div class="row">
					  		<div class="col-md-12">
					  			<nav>
						  <div class="nav nav-tabs" id="nav-tab" role="tablist">
						    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">IMPORTANT</a>
						    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">CANCELLED</a>
						    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">NO SHOW</a>
						    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">ALL</a>
						  </div>
						</nav>
							<div class="tab-content" id="nav-tabContent">
							  <!--Important-->
							  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style='padding:0px !important'>
							  		<table class="table table-bordered table-striped" id="helloworld" style="width:100%">
				                        <thead>
				                            <tr>
				                                <th>Column 1</th>
				                                <th>Column 2</th>
				                                <th>Column 3</th>
				                                <th>Column 4</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                            <tr>
				                                <td>Cell 1</td>
				                                <td>Cell 2</td>
				                                <td>Cell 3</td>
				                                <td>Cell 4</td>
				                            </tr>
				                        </tbody>
				                    </table>
							  </div>
							  <!--Cancelled-->
							  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							  	<!-- <table id="imp" class="table table-striped" style="width:100%">
										        <thead>
										            <tr>
										                <th>BOOKING IDC</th>
										                <th>NAME</th>
										                <th>SCHEDULE</th>
										                <th>VENUE</th>
										                <th>DESCRIPTION</th>
										            </tr>
										        </thead>
										        <tbody>
										            <tr>
														<td>2005-01729</td>
										                <td>Eugene Busico</td>
										                <td>BSIT</td>
										                <td>2ND</td>
										                <td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01728</td>
										                <td>Patrick Bacalso</td>
										                <td>BSIT</td>
														<td>2ND</td>
													    <td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01727</td>
										                <td>Jasmine Tulin</td>
										                <td>BSIT</td>
														<td>2ND</td>
														<td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01726</td>
										                <td>Leah Barbaso</td>
										                <td>BSIT</td>
														<td>2ND</td>
														<td>G2</td>
										            </tr>
										        </tbody>
    								</table> -->
							  </div>
							  <!--No Show-->
							  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
							  	<!-- <table id="imp" class="table table-striped" style="width:100%">
										        <thead>
										            <tr>
										                <th>BOOKING ID</th>
										                <th>NAME</th>
										                <th>SCHEDULE</th>
										                <th>VENUE</th>
										                <th>DESCRIPTION</th>
										            </tr>
										        </thead>
										        <tbody>
										            <tr>
														<td>2005-01729</td>
										                <td>Eugene Busico</td>
										                <td>BSIT</td>
										                <td>2ND</td>
										                <td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01728</td>
										                <td>Patrick Bacalso</td>
										                <td>BSIT</td>
														<td>2ND</td>
													    <td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01727</td>
										                <td>Jasmine Tulin</td>
										                <td>BSIT</td>
														<td>2ND</td>
														<td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01726</td>
										                <td>Leah Barbaso</td>
										                <td>BSIT</td>
														<td>2ND</td>
														<td>G2</td>
										            </tr>
										        </tbody>
    								</table> -->
							  </div>
							  <!--All-->
							  <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
							  	<!-- <table id="imp" class="table table-striped" style="width:100%">
										        <thead>
										            <tr>
										                <th>BOOKING ID</th>
										                <th>NAME</th>
										                <th>SCHEDULE</th>
										                <th>VENUE</th>
										                <th>DESCRIPTION</th>
										            </tr>
										        </thead>
										        <tbody>
										            <tr>
														<td>2005-01729</td>
										                <td>Eugene Busico</td>
										                <td>BSIT</td>
										                <td>2ND</td>
										                <td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01728</td>
										                <td>Patrick Bacalso</td>
										                <td>BSIT</td>
														<td>2ND</td>
													    <td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01727</td>
										                <td>Jasmine Tulin</td>
										                <td>BSIT</td>
														<td>2ND</td>
														<td>G2</td>
										            </tr>
										            <tr>
														<td>2005-01726</td>
										                <td>Leah Barbaso</td>
										                <td>BSIT</td>
														<td>2ND</td>
														<td>G2</td>
										            </tr>
										        </tbody>
    								</table> -->
							  </div>
							</div>
					  		</div>

					  	</div>    
					  </div>
			</div>
		</div>
	</div>


	
</div>
{% endblock content %}


